<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../Styling/style.css" />
  </head>
  <body>
    <div class="top-bar">
      <div class="heading-battery"><img class="rs" src="../Images/battery-svgrepo-com-100.svg"></div>
      <div class="heading-left">Autonomous Vehicle</div>
      <div class="heading-right">
        08:00 AM <br />
        20°C <br/>
        <img class="rs" src="../Images/high-bars-svgrepo-com.svg"/>
      </div>
    </div>

    <div class="buttons">

      <img class="arrow" src="../Images/left-arrow-svgrepo-com.svg"/>

      <div class="square">
        <div class="content">
          <img class="rs" src="../Images/map-marker-alt-solid.svg" />
          Map
        </div>
      </div>

      <div class="square">
        <div class="content">
          <img class="rs" src="../Images/co2-svgrepo-com.svg" /> CO2
        </div>
      </div>

      <div class="square">
        <div class="content">.. CONTENT HERE ..</div>
      </div>

      <img class="arrow" src="../Images/right-arrow-svgrepo-com.svg"/>
    </div>
  </body>
</html>
