<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../Styling/style.css" />
  </head>
  <body>
    <div class="top-bar">
      <div class="heading-battery"><img class="rs" src="../Images/battery-svgrepo-com-100.svg"></div>
      <div class="battery-percent">100%</div>
      <div class="heading-left">Autonomous Vehicle</div>
      <img class="rs" src="../Images/high-bars-svgrepo-com.svg"/>
      <div class="heading-right">
        08:00 AM <br />
        20°C <br/>
      </div>
    </div>

    <div class="buttons">

    </div>
  </body>
</html>
