<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../Styling/style.css" />
  </head>
  <body>
    <div class="top-bar">
      <div class="heading-battery">
        <img class="rs" src="../Images/battery-svgrepo-com-100.svg" />
      </div>
      <div class="battery-percent">100%</div>
      <div class="heading-left">Autonomous Vehicle</div>
      <div class="heading-right">
        08:00 AM <br />
        20°C <br />
        <img class="rs" src="../Images/high-bars-svgrepo-com.svg" />
      </div>
    </div>

    <div class="box">
      <div class="row1">
        <div class="square">
          <div class="content numbers">Maps</div>
          <div class="bottom">Google Maps</div>
        </div>

        <div class="square">
          <div class="content numbers">30% Volume</div>
          <div class="bottom">Oxygen</div>
        </div>

        <div class="square">
          <div class="content numbers">5% RH</div>
          <div class="bottom">Humidity</div>
        </div>

        <div class="square">
          <div class="content numbers">5 ppm</div>
          <div class="bottom">CO2</div>
        </div>
      </div>

      <div class="row2">
        <div class="square">
          <div class="content numbers">0.3um</div>
          <div class="bottom">Particulate Matter</div>
        </div>

        <div class="square">
          <div class="content numbers">Content</div>
          <div class="bottom">VOC</div>
        </div>

        <div class="square">
          <div class="content numbers">12 lux</div>
          <div class="bottom">Light</div>
        </div>

        <div class="square">
          <div class="content numbers">410nm</div>
          <div class="bottom">UV</div>
        </div>
      </div>
    </div>
  </body>
</html>
