@font-face {
  font-family: monsterrat;
  src: url(../Fonts/Montserrat-Regular.ttf);
}

html {
  font-family: monsterrat;
  background-color: #dcdcdc;
}

.top-bar {
  width: 100%;
  overflow: hidden;
}

.heading-battery {
  float: left;
  width: 5%;
  height: 5%;
  transform: rotate(90deg);
  padding-left: 1%;
}

.battery-percent {
  font-size: 15px;
  float: left;
  padding-top: 2%;
}

.heading-left {
  font-size: 40px;
  float: left;
  text-align: center;
  padding-left: 23%;
}

.heading-right {
  font-size: 15px;
  text-align: right;
  float: right;
  padding-right: 10px;
}

.box {
  background-color: rgb(138, 138, 138);
  border-radius: 2%;
  padding: 10px;
}

.row1, .row2 {
   display: flex;
   justify-content: center;
}

.square {
  float:left;
  position: relative;
  width: 20%;
  padding-bottom : 20%;
  margin:1.66%;
  background-color:#1E1E1E;
  overflow:hidden;
}

.content {
  position:absolute;
  height:90%;
  width:90%;
  padding: 5%;
  
}

.content .rs{
  width:auto;
  height:auto;
  max-height:90%;
  max-width:100%;
}

.numbers{
  font-weight:900;
  font-size:35px;
  color: #fff;
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size:30px;
  color: #fff;
  padding-bottom: 10px;
}